body {
  text-align: center;
  font-size: 30px;
  background-image: url(../img/mosaic.png);
  color: red;
}
img {
  border-radius: 20px;
  width: 500px;
  height: auto;
}
a {
  color: rgb(174, 0, 255);
}
.bat {
  font-size: 40px;
}
